.navbar{
  display: flex;
  gap: 900px;
  height: 92.7px;
  margin: 0 0 0px 10px;
  /* padding: 0 0 0 30px; */
  background-color: #fff;
}

.logo {
  width: 196px;
  height: 49.1px;
  margin: 25px 0px 18.5px 0;
}

.navbtns {
  display: flex;
  gap: 40px;
}



/* .Logo {
  margin: 25px 665px 18.5px 0;
} */

.homebtn {
  /* margin: 0 0 0 665px; */
  padding: 33px 50px 32.7px 48px;
  background-color: #fff;
}

.home {
  font-family: Inter;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.home:hover {
  color: #e53134;
}


.listingbtn {
  width: 150px;
  /* margin: 0 172px 0 0; */
  padding: 33px 16px 32.7px 17px;
  background-color: #fff;
  text-decoration: none;
}


.listings {
  font-family: Inter;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.listings:hover {
  color: #e53134;
}

.ownerbtn {
  /* margin: 1.9px 332px 0 1236px; */
  padding: 33px 44px 31.3px 47px;
  background-color: #fff;
}

.owner {
  font-family: Inter;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.owner:hover {
  color: #e53134;
}

.aboutbtn {
  width: 150px;
  /* margin: 0 0 0 172px; */
  padding: 33px 32px 32.7px 20px;
  background-color: #fff;
}

.about {
  font-family: Inter;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.about:hover {
  color: #e53134;
}

.contactbtn {
  padding: 32px 38px 33.7px 39px;
  background-color: #fff;
}

.contact {
  font-family: Inter;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}