.ourMission {
  display: flex;
  gap: 50px;
  width: 100vw;
  height: 810px;
  flex-grow: 0;
  margin: 0px 0 0;
  padding: 129px 57px 30px 65px;
  background-color: #f9fafb;
}

.missionText {
  display: flex;
  flex-direction: column;
}

.happyTenants {
  width: 534px;
  height: 41px;
  flex-grow: 0;
  margin: 50PX 176px 48px 0.1px;
  font-family: Inter;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.aboutUs {
  width: 710.1px;
  height: 300px;
  flex-grow: 0;
  margin: 48px 0 26px;
  font-family: Inter;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.manyLocations {
  width: 532px;
  height: 40px;
  flex-grow: 0;
  margin: 0px 178px 0 0.1px;
  font-family: Inter;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.familyImg {
  width: 829px;
  height: 561px;
  flex-grow: 0;
  margin: 0 0 0 66.9px;
}