.filterBar {
    display: flex;
    flex-direction: row;
    min-width: 90%;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    padding: 10px;
    /* border: 1px solid black; */
}

.filterButtonDiv {
    background-color: transparent;
    text-align: justify;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 0.5px solid lightblue;
}

.filterButtonDiv img {
    height: 40px;
}
.filteredByListDiv {
    /* border: 2px dashed brown; */
    display: flex;
    align-items: center;
    height: 40px;
}

.selectedList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* height: 100%; */
    /* border: 2px dotted blue; */
}

.selectedList > li {
    border: 0.5px solid lightblue;
    display: inline-block;
    margin-left: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:0 5px;
}

.selectedList >li >div > button {
height: 100%;
border: none;
text-transform: capitalize;
background-color: transparent;
}

.selectedList >li > div {
    color: red;
    height: 100%;
    text-transform: capitalize;
}
.listItemDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid saddlebrown; */
}
.favourites {
    display: flex;
    font-weight: bolder;
}

.xDiv {
    transform: rotate(-45deg);
    font-size: 2.2rem;
    cursor: pointer;
    
}