/* HERO BAR */
.heroBox {
  position: absolute;
  width: 100vw;
  }
  
  
  .herobar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    /* height: 513px; */
    flex-grow: 0;
    /* margin: 11.3px 0px 0px -350px; */
    /* padding: 102px 421px 224px 100px; */
  }
  
  .customerbtns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  }
  
  .tenantbtn {
   display: flex;
   justify-content: center;
   align-items: center;
    height: 61px;
    flex-grow: 0;
    margin: 0 100px 0 0;
    padding: 13px 40px 14px;
    /* border-bottom: solid 1px #fff; */
    background-color: rgba(217, 217, 217, 0);
  }
  
  .tenant {
    /* width: 96px; */
    height: 34px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .ownersbtn {
    display: flex;
   justify-content: center;
   align-items: center;
    height: 61px;
    flex-grow: 0;
    margin: 0 0 0 100px;
    padding: 13px 44px 14px 40px;
    background-color: rgba(217, 217, 217, 0);
  }
  
  .owners {
    /* width: 92px; */
    height: 34px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  
  
  .search {
    position: relative;
    
    height: 65px;
    flex-grow: 0;
    margin: 61px 0 0;
    padding: 11px 550px 12px 33px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }